<% if @eseat %>
<h2>Economy Class Seats</h2>

<% @x=0 %>
<% @eseat.each do |seat| %>
     <% @x = @x+1 %>
    <div class="seatmini"><%= @x %></div>
    <% if(@x % @economy.seats_in_row == 0) %>
      <br>
    <% end%>
<% end %>


<% @business.row.times do |i| %>
        <% @business.seats_in_row.times do |i| %>
        <% end %>
<% end %>
<% end %>
