<%= stylesheet_link_tag "/custom.css" %>

<div class="seats">
<% if @fseat %>
<h2>First Class Seats</h2>


<% @x=0 %>
<div class="seatcontainer">
<% @fseat.each do |seat| %>
     <% @x = @x+1 %>
    <div class="seatmini"><%= @x %></div>
    <% if(@x % @first.seats_in_row == 0) %>
      <br>
    <% end%>
<% end %>
</div>


<% @first.row.times do |i| %>
        <% @first.seats_in_row.times do |i| %>
        <% end %>
<% end %>

<% end %>
<%if @bseat %>
<%= render 'seats/bindex' %>
<%end%>
<%if @eseat %>
<%= render 'seats/eindex' %>
<%end%>
</div>
