<%= stylesheet_link_tag "/custom.css" %>
<h1>Seats</h1>

<table>
  <thead>
    <tr>
    </tr>
  </thead>

  <tbody>
    <% @seats.each do |seat| %>
      <tr>
        <td></td>
        <div class="seatbox">  <%= seat.id %> </div>
           <br>
      </tr>
    <% end %>
  </tbody>
</table>
