----------------------------
<h2> First Class </h2>
<p>
  <strong>Row:</strong>
  <%= @first.row %>
</p>

<p>
  <strong>Seats in row:</strong>
  <%= @first.seats_in_row %>
</p>


<p>
  <strong>Price:</strong>
  <%= @first.first_price %>
</p>
